<h2 class="text-center">{{titulo1}}</h2>
<form class="my-5">
    <div class="row justify-content-center">
        <div class="col-7 my-1">
            <input type="text" class="form-control" placeholder="Titulo" #titulo>
        </div>
        <div class="col-7 my-1">
            <input type="text" class="form-control" placeholder="Subtítulo" #subtitulo>
        </div>
        <div class="col-7 my-1">
            <input type="text" class="form-control" placeholder="Descripción" #descripcion>
        </div>
        <div class="col-7">
            <button type="submit" class="btn btn-success mt-3"
                (click)="guardar(titulo.value, subtitulo.value, descripcion.value)">Agregar</button>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <app-card-tarea *ngFor="let tarea of tareas" [tarjeta]="tarea"></app-card-tarea>
    </div>
</div>