<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{titulo}}</h1>
            <ul>
                <li *ngFor="let tarea of tareas">{{tarea}}</li>
            </ul>
        </div>
    </div>
</div>
