<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{tarjeta.titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{tarjeta.subtitulo}}</h6>
        <p class="card-text">{{tarjeta.descripcion}}</p>
    </div>
</div>